body {
    background-color: #f7f6f6;
    font-size: 24px;
    line-height: 36px;

}

/* ---------- NavBar ----------- */
#navbar_main2, li {
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 1200px;
    top: -20px;
    font-family: 'Raleway', sans-serif;
    color: darkslategrey;
}

header {
    position: absolute;
    font-size: 66px;
    left: 640px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #629c44;
    top:10px;
}

#navbar_main1, li {
    display: inline;
    font-size: 36px;
    text-align: center;
    position: relative;
    left: 5px;
    top: 25px;
    font-family: 'Raleway', sans-serif;
    color: darkslategrey;
}

li:hover{
    color: #629c44;  }
li a {
    padding: 40px  }

/* ----------- Content ----------- */

h2 {
    color: yellowgreen; /* Subheader(?) */
}


#image1 {
    position: relative;
    top: 80px;
    height: 750px;
    width: 95%;
    margin-left: 2.5%;
}
#content {
    position: relative;
    margin: auto;
    width: 50%;
    top: 150px;
    font-size: 24px;
    line-height: 36px;
    color: black;
    font-family: 'Raleway', sans-serif;

}

/* ----------- Footer ----------- */
#facebook {
    height: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
    fill: #ffffff;
}

#instagram {
    height: 100px;
    position: absolute;
    bottom: 10px;
    right: 125px;
    fill: #ffffff;
}

