html, body {
    background-color: #f7f6f6;
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Wrapper: Helps keep footer at bottom */
#wrapper {
    min-height: 100%;
    position: relative;
}

/* ---------- NavBar ----------- */

#navbar_main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: darkslategrey;
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

#navbar_main a {
    text-decoration: none;
}

#navbar_main a:visited {
    color: darkslategray;
}

#navbar_main a:hover{
    color: #629c44;
}

#main {
    font-size: 3em;
    color: #629c44
}

#main li:hover{
    color: darkslategrey;
}

#sub_parent {
  position: relative;
}

#sub_ul {
  list-style-type: none;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  padding-left:0;
}

/*Keeps the navbar separated from the content section.*/
#navbar-wrapper {
    min-height: 15%;
}

/* ----------- Content ----------- */
#content {
    position: relative;
    margin: auto;
    width: 65%;
    font-size: 1em;
    line-height: 36px;
    color: black;
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
}

/* ---- Cover Photo ---- */
.cover_photo_container, #image1 {
    display: block;
    position: relative;
    margin: auto;
    width: 80%;
    vertical-align: middle;
}

.responsive_cover_photo {
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.responsive_cover_text {
    position: absolute;
    top: calc(50% - 1.25em); /*24px is font size of H1 I assume*/
    left: 0;
    text-align: center;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    color: white;
}
/* --- /Cover Photo --- */

h2 {
    color: yellowgreen; /* Subheader(?) */
}

/* ---------------- Om Oss --------------- */
.maps {
    display: block;
    max-width: 600px;
    margin: 0 auto;
}
/* ------------- Landing page ------------ */
#image1 {
    width: 90%;
}
#image_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    max-width: 85%;
    left: 10%;
    padding-bottom: 50px;
}
#image2, #image3, #image4, #image5 {
    padding-bottom: 15px;
    height: 200px;
    align-items: center;
}

#image4, #image5 {
    height: 178.3px;
}

#instabox {
    margin: auto;
    width: 65%;
    background-color: rgba(205, 201, 201, 0.1);
    bottom: 20px;
    height: 350px;
    border-style: double;
    position: inherit;
}
#instabox a {
    position: absolute;
    padding: 140px 0 0 44%;
}

/*------------ Produkter -------- */
#cover_picture {
    width: 100%;
}

.image {
    margin-right: 15%;
    margin-bottom: 5%;
    float: left;
    width: 180px;
}

.image img:hover {
    border: 1px solid #777;
}

.image img {
    width: 100%;
    height: auto;
}

#image_collection_part_1, #image_collection_part_2 {
    display: flex;
}
/* ----------- Footer ----------- */
footer {
    position: relative;
    min-height: 175px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(76, 122,52, 0.9);
    border-style: solid;
    border-color: rgba(76, 122,52, 0.9);
}

h3 {
    margin: 0; /* This is done so #info controls padding */
}

#info1, #info2 {
    /* position: absolute; */
    padding-top: 18px;

    color: #ffffff;
    font-size: 1em;
    font-family: 'Raleway', serif;
    line-height: 15px;
}

#empty_space {
    width: 50px;
}

#info_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}

#info1 a {
    color: #ffffff;
}

#info1 a:hover {
    color: lightgreen;
}

#social {
    position: absolute;
    display: block;
    top: 20px;
    right: 15px;
    overflow: auto;
    padding-top: 20px;
}

#facebook, #instagram {
    height: 80px;
    position: relative;
    padding-left: 10px;
    fill: #ffffff;
}

/*--- Tilbakemelding ---*/
input[type=text]{
    width:20%;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input[type=email]{
    width:20%;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 40%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}