html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #f7f6f6;
}

/* Wrapper: Helps keep footer at bottom */
#wrapper {
    position: relative;

    min-height: 100%;
}

/* ---------- NavBar ----------- */
#navbar_main {
    display: flex;

    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    list-style-type: none;

    color: darkslategrey;

    font-family: 'Raleway', sans-serif;
    font-size: 19px;

    justify-content: space-around;
    align-items: center;
}

#navbar_main a {
    text-decoration: none;
}

#navbar_main a:visited {
    color: darkslategray;
}

#navbar_main a:hover{
    color: #629c44;
}

#main {
    color: #629c44

    font-size: 3em;
}

#main li:hover{
    color: darkslategrey;
}

.nav_a {
    position: relative;

    display: flex;
}

#product_menu {
    /*justify-content: flex-start;*/
    position: relative;

    display: none;
    overflow: hidden;
    flex-direction: row;

    max-width: 100%;
    padding-top: 0px;
    padding-left: 0px;

    list-style-type: none;

    transition: max-width 1s ease 0s;
}

#product_menu li {
    padding-right: 15px;
}

/*Keeps the navbar separated from the content section.*/
#navbar-wrapper {
    min-height: 15%;
}

/* ----------- Content ----------- */
#content {
    position: relative;

    width: 65%;
    margin: auto;
    padding-top: 30px;

    color: black;

    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 36px;
}

/* ---- Cover Photo ---- */
.cover_photo_container, #image1 {
    position: relative;

    display: block;

    width: 80%;
    margin: auto;

    vertical-align: middle;
}

.responsive_cover_photo {
    display: block;

    width: 100%;
    margin: auto;
    padding-top: 30px;
}

.responsive_cover_text {
    position: absolute;
    top: calc(50% - 1.25em); /*24px is font size of H1 I assume*/
    left: 0;

    width: 100%;

    text-align: center;

    color: white;

    font-family: 'Raleway', sans-serif;
    font-size: 4em;
}
/* --- /Cover Photo --- */

h2 {
    color: yellowgreen; /* Subheader(?) */
}

/* ---------------- Om Oss --------------- */
.maps {
    display: block;

    max-width: 600px;
    margin: 0 auto;
}

/* ------------- Landing page ------------ */
#image1 {
    width: 90%;
}

#image_menu {
    position: relative;
    left: 7.5%;

    display: flex;
    flex-direction: row;

    max-width: 85%;
    padding-bottom: 50px;

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#image2, #image3, #image4, #image5 {
    height: 200px;
    padding-bottom: 15px;
}

#image4, #image5 {
    height: 180px;
}

#instabox {
    position: inherit;
    bottom: 20px;

    width: 65%;
    height: 350px;
    margin: auto;

    border-style: double;
    background-color: rgba(205, 201, 201, 0.1);
}

#instabox a {
    position: absolute;

    padding: 140px 0 0 44%;
}

/*------------ Produkter -------- */
#cover_picture {
    width: 100%;
}

.image {
    float: left;

    width: 180px;
    margin-right: 15%;
    margin-bottom: 5%;
}

.image img:hover {
    border: 1px solid #777;
}

.image img {
    width: 100%;
    height: auto;
}

#image_collection_part_1, #image_collection_part_2 {
    display: flex;
}

/* ----------- Footer ----------- */
footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;

    min-height: 175px;

    border-style: solid;
    border-color: rgba(76, 122,52, 0.9);
    background-color: rgba(76, 122,52, 0.9);
}

h3 {
    margin: 0; /* This is done so #info controls padding */
}

#info1, #info2 {
    /* position: absolute; */
    padding-top: 18px;

    color: #ffffff;

    font-family: 'Raleway', serif;
    font-size: 1em;
    line-height: 15px;
}

#empty_space {
    width: 50px;
}

#info_flex {
    display: flex;
    flex-direction: row;

    width: 75%;

    flex-wrap: wrap;
}

#info1 a {
    color: #ffffff;
}

#info1 a:hover {
    color: lightgreen;
}

#social {
    position: absolute;
    top: 20px;
    right: 15px;

    display: block;
    overflow: auto;

    padding-top: 20px;
}

#facebook, #instagram {
    position: relative;

    height: 80px;
    padding-left: 10px;

    fill: #ffffff;
}

/*--- Tilbakemelding ---*/
input[type=text]{
    width:20%;

    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

input[type=email]{
    width:20%;

    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

textarea {
    box-sizing: border-box;
    width: 40%;
    height: 150px;
    padding: 12px 20px;

    resize: none;

    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

    font-size: 16px;
}
